node-red-data/.flows.json.backup
[
    {
        "id": "c55688a423246b99",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c664b1dbf5a56b6",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1ba78273",
        "type": "tab",
        "label": "Sim-pub-1ba782",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a256e209",
        "type": "tab",
        "label": "Sim-sub-a256e2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "783325a25ca126cc",
        "type": "mqtt-broker",
        "name": "nanomq",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ee0779d53387437d9f5f268e95a6a500",
        "type": "ui_tab",
        "name": "Metrics",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d3c0e47de6d7420381f63a38eb95b48d",
        "type": "ui_tab",
        "name": "Metrics",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3637892d565646aeacc8dfbd9a15ceb6",
        "type": "ui_tab",
        "name": "Metrics",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1bd1c1a1",
        "type": "ui_tab",
        "name": "Metrics",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dcfa1222498748b687488d6c7ee91257",
        "type": "ui_group",
        "name": "Values",
        "tab": "ee0779d53387437d9f5f268e95a6a500",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e0332158d3e447d48f233385824b1e8f",
        "type": "ui_group",
        "name": "Values",
        "tab": "d3c0e47de6d7420381f63a38eb95b48d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1fb5f403170c48e6bf4b779dfbce23c7",
        "type": "ui_group",
        "name": "Values",
        "tab": "3637892d565646aeacc8dfbd9a15ceb6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "90fd09b3",
        "type": "ui_group",
        "name": "Values",
        "tab": "1bd1c1a1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4c6f133ed85d39ac",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a14a2b20",
        "type": "ui_tab",
        "name": "Metrics",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c99e7a1d",
        "type": "ui_group",
        "name": "Values",
        "tab": "a14a2b20",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5a82e2ac01498b82",
        "type": "mqtt out",
        "z": "c55688a423246b99",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "783325a25ca126cc",
        "x": 430,
        "y": 320,
        "wires": []
    },
    {
        "id": "1d177d44efec41fa",
        "type": "inject",
        "z": "1c664b1dbf5a56b6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "a34f09f9f2c7b447"
            ]
        ]
    },
    {
        "id": "a34f09f9f2c7b447",
        "type": "function",
        "z": "1c664b1dbf5a56b6",
        "name": "function 1",
        "func": "msg.payload = Math.random() * (100 - 0) + 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 260,
        "wires": [
            [
                "3285e084cd990c8e"
            ]
        ]
    },
    {
        "id": "3285e084cd990c8e",
        "type": "json",
        "z": "1c664b1dbf5a56b6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "ca69734da49b57f4"
            ]
        ]
    },
    {
        "id": "ca69734da49b57f4",
        "type": "mqtt out",
        "z": "1c664b1dbf5a56b6",
        "name": "tg",
        "topic": "ss/ss",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "783325a25ca126cc",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "e1f8fd68",
        "type": "inject",
        "z": "1ba78273",
        "name": "⏱ timestamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "once": true,
        "onceDelay": 0.1,
        "x": 0,
        "y": 0,
        "wires": [
            [
                "bb744efa"
            ]
        ]
    },
    {
        "id": "bb744efa",
        "type": "function",
        "z": "1ba78273",
        "name": "Splitter",
        "func": "var outputs = [];\nfor (var i = 0; i < 4; i++) {\n    outputs.push({ payload: Date.now() });\n}\nreturn outputs;",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 100,
        "wires": [
            [
                "7f183e8f"
            ],
            [
                "e76a3c29"
            ],
            [
                "92f6a9e4"
            ],
            [
                "13dfe7f1"
            ]
        ]
    },
    {
        "id": "7f183e8f",
        "type": "function",
        "z": "1ba78273",
        "name": "er",
        "func": "msg.payload = Math.random()*(100-0)+0;\nreturn msg;",
        "outputs": 1,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "6f7fa6e4"
            ]
        ]
    },
    {
        "id": "6f7fa6e4",
        "type": "json",
        "z": "1ba78273",
        "name": "to JSON",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "782fe219"
            ]
        ]
    },
    {
        "id": "782fe219",
        "type": "mqtt out",
        "z": "1ba78273",
        "name": "er → er/er",
        "topic": "er/er",
        "qos": "1",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "783325a25ca126cc",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "e76a3c29",
        "type": "function",
        "z": "1ba78273",
        "name": "er",
        "func": "msg.payload = Math.random()*(100-0)+0;\nreturn msg;",
        "outputs": 1,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "ce6211f5"
            ]
        ]
    },
    {
        "id": "ce6211f5",
        "type": "json",
        "z": "1ba78273",
        "name": "to JSON",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "e3b5023d"
            ]
        ]
    },
    {
        "id": "e3b5023d",
        "type": "mqtt out",
        "z": "1ba78273",
        "name": "er → er/er",
        "topic": "er/er",
        "qos": "1",
        "retain": false,
        "broker": "783325a25ca126cc",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "92f6a9e4",
        "type": "function",
        "z": "1ba78273",
        "name": "er",
        "func": "msg.payload = Math.random()*(100-0)+0;\nreturn msg;",
        "outputs": 1,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "74425ea6"
            ]
        ]
    },
    {
        "id": "74425ea6",
        "type": "json",
        "z": "1ba78273",
        "name": "to JSON",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 480,
        "y": 360,
        "wires": [
            [
                "fd532518"
            ]
        ]
    },
    {
        "id": "fd532518",
        "type": "mqtt out",
        "z": "1ba78273",
        "name": "er → er/er",
        "topic": "er/er",
        "qos": "1",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "783325a25ca126cc",
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "13dfe7f1",
        "type": "function",
        "z": "1ba78273",
        "name": "er",
        "func": "msg.payload = Math.random()*(100-0)+0;\nreturn msg;",
        "outputs": 1,
        "x": 320,
        "y": 440,
        "wires": [
            [
                "d088e367"
            ]
        ]
    },
    {
        "id": "d088e367",
        "type": "json",
        "z": "1ba78273",
        "name": "to JSON",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 480,
        "y": 440,
        "wires": [
            [
                "a5403d4e"
            ]
        ]
    },
    {
        "id": "a5403d4e",
        "type": "mqtt out",
        "z": "1ba78273",
        "name": "er → er/er",
        "topic": "er/er",
        "qos": "1",
        "retain": false,
        "broker": "783325a25ca126cc",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "fa46925d",
        "type": "mqtt in",
        "z": "a256e209",
        "name": "erer ◀ er/er",
        "topic": "er/er",
        "qos": "1",
        "datatype": "json",
        "broker": "783325a25ca126cc",
        "inputs": 0,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "f389fd2f"
            ]
        ]
    },
    {
        "id": "f389fd2f",
        "type": "function",
        "z": "a256e209",
        "name": "erer Check",
        "func": "return msg;",
        "outputs": 1,
        "x": 450,
        "y": 80,
        "wires": [
            [
                "11356070",
                "b493bf00"
            ]
        ]
    },
    {
        "id": "11356070",
        "type": "ui_gauge",
        "z": "a256e209",
        "name": "erer",
        "group": "c99e7a1d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "erer",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "b493bf00",
        "type": "ui_text",
        "z": "a256e209",
        "group": "c99e7a1d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "erer Text",
        "label": "erer",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 800,
        "y": 80,
        "wires": []
    },
    {
        "id": "848f4f41",
        "type": "mqtt in",
        "z": "a256e209",
        "name": "erer ◀ er/er",
        "topic": "er/er",
        "qos": "1",
        "datatype": "json",
        "broker": "783325a25ca126cc",
        "inputs": 0,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "26ca6de8"
            ]
        ]
    },
    {
        "id": "26ca6de8",
        "type": "function",
        "z": "a256e209",
        "name": "erer Check",
        "func": "return msg;",
        "outputs": 1,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "f04367e7",
                "f2e6d920"
            ]
        ]
    },
    {
        "id": "f04367e7",
        "type": "ui_gauge",
        "z": "a256e209",
        "name": "erer",
        "group": "c99e7a1d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "erer",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "f2e6d920",
        "type": "ui_text",
        "z": "a256e209",
        "group": "c99e7a1d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "erer Text",
        "label": "erer",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "0057f085",
        "type": "mqtt in",
        "z": "a256e209",
        "name": "erer ◀ er/er",
        "topic": "er/er",
        "qos": "1",
        "datatype": "json",
        "broker": "783325a25ca126cc",
        "inputs": 0,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "463667a5"
            ]
        ]
    },
    {
        "id": "463667a5",
        "type": "function",
        "z": "a256e209",
        "name": "erer Check",
        "func": "return msg;",
        "outputs": 1,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "20f69471",
                "98ab2d34"
            ]
        ]
    },
    {
        "id": "20f69471",
        "type": "ui_gauge",
        "z": "a256e209",
        "name": "erer",
        "group": "c99e7a1d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "erer",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "98ab2d34",
        "type": "ui_text",
        "z": "a256e209",
        "group": "c99e7a1d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "erer Text",
        "label": "erer",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 800,
        "y": 240,
        "wires": []
    }
]